<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="assets/ico/favicon.png" />
    

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="public.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

	<div id="top-border"></div>
    <!-- Fixed navbar -->
    <div class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="assets/img/pies-logo-lg.png" />
          </a>
        </div><!-- .navbar-header -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          	<li><a href="index.html">Welcome</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="guide.html">User Guide</a></li>
            <li class="signup"><a href="access.html">Request Account</a></li>
          </ul>
        </div><!-- .nav-collapse -->
      </div><!-- .container -->
    </div><!-- .navbar -->

{{ content }}

	<footer class="container">
		<div class="row">
  		<div class="col-md-3">
  			<a class="footer-logo" href="index.html">
  			  <img src="assets/img/pies-logo-lg.png" />
        </a>
  		</div>
  		<div class="col-md-9">
  			<p class="disclaimer">
  			  Paid for by the Progressive Change Campaign Committee PAC (BoldProgressives.org) 
  			  and not authorized by any candidate or candidate's committee. Contributions to the 
  			  PCCC are not deductible as charitable contributions for federal income tax purposes.
        </p>
  		</div>
		</div>
	</footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script>
$(document).ready(function(){
  $('.faqnav').affix({ offset: { top: 160 } });
  
{{ page.code|safe }}
  
});
  </script>
    
    
  </body>
</html>
